{{>slideshow}}

<!-- to test if there is a title -->
{{#if title}}
<h1 class = "lilita-one-regular">{{title}}!</h1>
{{/if}}

{{#if description}}
<p class = "intro">{{description}}</p>
{{/if}}

 {{>destinations}}
